<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/update" method="post" th:object="${emp}">
사번<input type="text" name="empno" th:value="*{empno}" readonly /><br/>
새로운 사번<input type="text" name="newEmpno"/><br/>
이름<input type="text" name="ename" th:value="*{ename}"/><br/>
직무<input type="text" name="job" th:value="*{job}"/><br/>
급여<input type="text" name="sal" th:value="*{sal}"/><br/>
<input type="submit" />
</form>
</body>
</html>